/* frontend/src/styles/About.css */
.about-container {
    text-align: center;
    padding: 20px;
  }
  
  .about-container h2 {
    font-size: 2em;
    color: #333;
  }
  
  .about-container p {
    font-size: 1.2em;
    color: #777;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
  }
  